.a1 {
    background-color: aqua;
}

.wrapper {
    height: 320px;
    width: 540px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0,0,0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0,0,0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0,0,0, 0.15);
}

.cat-img {
    float: left;
    height: 320px;
    width: 240px;
}



.delete-cat{
    margin-left: 95%;
    margin-top: 5px;
}

.cat-img img {
    border-radius: 7px 0 0 7px;
    object-fit: cover;
    height: 320px;
    width: 240px;
}

.cat-info {
    float: left;
    height: 320px;
    width: 300px;
    border-radius: 0px 7px 10px 7px;
    background-color: #ffffff;
}

.cat-text {
    height: 200px;
    width: 300px;
}

.cat-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
}

.cat-text h1,
.cat-btn p {
    font-family: 'Bentham', serif;
}

.cat-text h2 {
    margin: 0 0 47px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.cat-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.cat-btn {
    height: 83px;
    width: 300px;
    margin-top: 17px;
    position: relative;
}

.cat-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    color: #474747;
}

span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
}

.cat-btn button {
    float: right;
    display: inline-block;
    height: 50px;
    width: 156px;
    margin: 0 40px 0 16px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
}

.cat-btn button:hover {
    background-color: #79b0a1;
}