{% extends "base.html" %}

{% block content %}


    <h1 class="a1">HELLO</h1>
    {{ a1 }}

    {% for i in cat_list %}
        <div class="wrapper">
            <div class="cat-img">
                <img src="{{ url_for('static', filename='img/'+ i.img) }}">
            </div>
            <div class="cat-info">
                <div class="cat-text">
                    <h1>{{ i.name }}</h1>
                    <h2>FUR:{{ i.fur }}</h2>
                    <p>Age of cat:{{ i.age }}</p>
                </div>

                <div class="cat-btn">
                    <button type="button">More info</button>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
